*.pyc
**/__pycache__/
.idea
.vscode/*
.DS_Store
app/output/*.jpg
app/output/*.png
demo/kb_output/*.jpg
*.jpg
*.png
# build outputs
dist
build
# checkpoint
*.pth
*.pt
*.onnx
*.mnn
test/temp/*
!test/temp/.gitkeep

.python-version