*.pyc
**/__pycache__/
.idea
.vscode/*
.history
.DS_Store
.env
demo/kb_output/*.jpg
demo/kb_output/*.png
scripts/sync_swanhub.py
scripts/sync_huggingface.py
scripts/sync_modelscope.py
scripts/sync_all.py
**/flagged/
# build outputs
dist
build
# checkpoint
*.pth
*.pt
*.onnx
*.mnn
test/temp/*
!test/temp/.gitkeep

.python-version

# Ignore .png and .jpg files in the root directory
/*.png
/*.jpg
