*.pyc
**/__pycache__/
.idea
.vscode/*
.DS_Store
.env
demo/kb_output/*.jpg
demo/kb_output/*.png
# build outputs
dist
build
# checkpoint
*.pth
*.pt
*.onnx
*.mnn
test/temp/*
!test/temp/.gitkeep

.python-version
